{% extends "base.html" %}
{% load static %}

{% block title %} Gbenda | Contact Us {% endblock %}

{% block content %}


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <p>Communities</p>
        <h2>Join one of our communities today</h2>
      </div>

      <div class="row">
        <div class="col-lg-12 ">
          <div class="row">
            <div class="col-md-12" >
                <div class="info-box mt-4">
                  <h2>Bible Study</h2>
                    <br/>
                    <a href="https://www.clubhouse.com/house/gbenda" target="_blank"> <button type="button" class="btn btn-primary">Clubhouse every Friday at 6 p.m. GMT+1</button></a>
                  <br/><br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <img src="{% static 'img/gbs.png' %}" alt="Gbenda Bible Study" height="400px">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
              </div>

          </div>

            <div class="row">
            <div class="col-md-12" >
                <div class="info-box mt-4">
                  <h2>Let's Pray together 🙏🏿</h2>
                    <br/>
                    <a href="https://www.clubhouse.com/house/gbenda" target="_blank"> <button type="button" class="btn btn-primary">Clubhouse every Thursday at 6 a.m. GMT+1</button></a>
                  <br/><br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <img src="{% static 'img/nig2.png' %}" alt="Gbenda Bible Study" height="300px">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
              </div>

          </div>


        </div>

      </div>


    </div>
  </section>
  <!-- End Contact Section -->


{% endblock %}