{% extends "base.html" %}
{% load static %}

{% block title %} Gbenda | Contact Us {% endblock %}

{% block content %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <p>Contact Us</p>
        <h2>If you have any questions, concerns, good news OR would like to partner with the Gbenda Intercessory Ministry</h2>
      </div>

      <div class="row">
        <div class="col-lg-12 ">
			          <div class="row">
            <div class="col-md-12">
                <div class="info-box mt-4">
                  <h3>Got questions ?</h3>
                  <i class="bx bx-envelope"></i>
					<p><a href="mailto:info@gbenda.org">info@gbenda.org</a></p><br />
                   </div>
              </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="info-box mt-4">
                <h3>Need help ?</h3>
                <i class="bx bx-envelope"></i>
                <p><a href="mailto:help@gbenda.org">help@gbenda.org</a><br /><a href="mailto:support@gbenda.org">support@gbenda.org</a></p>
             </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <h3>Good news 🥳 </h3>
                <i class="bx bx-envelope"></i>
                <p><a href="mailto:testimonies@gbenda.org">testimonies@gbenda.org</a><br /><a href="mailto:converts@gbenda.org">converts@gbenda.org</a></p>
             </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="info-box mt-4">
                    <a href="https://www.clubhouse.com/house/gbenda" target="_blank"><i class="fa fa-church" style="font-size:48px;color:red"></i></a>
                    <a href="https://www.x.com/gbenda__" style="font-size:48px;" target="_blank">𝕏</a>
                    <a href="https://www.linkedin.com/company/gbenda-intercessory-ministry/" target="_blank"><i class="fa fa-linkedin" style="font-size:48px;color:#0096FF"></i></a>
                    <a href="https://www.instagram.com/gbenda_" target="_blank"><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a>
                   </div>
              </div>

          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}